.form-container{
    width: 80%;
    margin: auto;
    text-align: center;
}

.poll-form{
    margin-top: 2%;
    text-align: left;
}

.possible-answer-group > input{
    margin-top: 0.5%;
}

.allpolls-container-ul > li{
    text-align: start;
}

.allpolls-container-ul{
    padding: 0;
}

.allpolls-container-list-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poll-details-para{
    margin: 0;
}