{% extends 'base.html' %}


{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/polldetails.css') }}">
<!-- <link rel="stylesheet" href="static/styles/signup.css"> -->
{% endblock %}

{% block title %}
<title>Details</title>
{% endblock %}

{% block content %}
<div class="poll-details-container">
    <div class="question">{{ result.question }}</div>
    <div class="votes-container">
        <!-- <div class="vote">
            <div class="progress-bar-1" style="width: 50%; background-color: green">
                vote 1: 50%
            </div>
        </div>
        <div class="vote">
            <div class="progress-bar-1" style="width: 30%; background-color: green;">
                vote 2: 30%
            </div>
        </div> -->
        {% for res in result.options %}
        <div class="vote">
            <div class="progress-bar" style="width: {{res.vote_percentage}}%; background-color: green">
                {{ res.option_name }}: {{ res.vote_percentage }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="static/scripts/polldetails.js"></script>
{% endblock %}