{% extends 'base.html' %}


{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/polldetails.css') }}">
<!-- <link rel="stylesheet" href="static/styles/signup.css"> -->
{% endblock %}

{% block title %}
<title>Details</title>
{% endblock %}

{% block content %}
<div class="poll-details-container">
    <div class="bg-light" style="margin-bottom: 10px; padding: 2%;">{{ result.question }}</div>
    {% for option in result.options %}
    <div style="padding: 2%; display: flex;">
        <div style="padding: 2%;">{{ option.option_name }}</div> <div class="bg-light" style="padding: 2%; width: 100%;">{{ option.vote_percentage }} %</div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
<!-- <script src="static/scripts/polldetails.js"></script> -->
{% endblock %}